* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body,
html {
  background-color: #151525;
  overflow-x: hidden;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
