.topics {
  margin: 15px auto 15px auto;
  background-color: #01012b;
  border-radius: 5px;
  border: 1px solid #ff2a6d;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  column-gap: 15px;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

.topics .topDiv {
  grid-area: 1 / 1 / 1 / 3;
  display: flex;
  position: relative;
  justify-content: center;
  height: 65px;
}

.topics .topDiv h2 {
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
}

.topics #category {
  cursor: pointer;
  padding: 3px;
  background-color: #0016ee;
  color: white;
  border: 1px solid black;
}

.filter {
  text-align: center;
  margin: 0px 10px 10px 15px;
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
}

.filter select {
  margin-top: 5px;
  outline: none;
  margin-right: 5px;
  width: 100%;
  height: 25px;
}

.filter label {
  color: white;
  font-size: 1.2rem;
}

.topic {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d1f7ff;
  color: white;
}

.topic h3 {
  color: #05d9e8;
  font-size: 1.25rem;
  text-align: center;
  padding: 5px 0px 5px;
  word-wrap: break-word;
}

.topicInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.topicInfo .authorName {
  color: #ff2a6d;
  text-decoration: underline;
}

.topicInfo time {
  color: #005678;
}

.newTopic {
  max-width: 800px;
  width: 100%;
  margin: 15px auto 0px auto;
  position: relative;
  background-color: #01012b;
  color: white;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  font-size: 1.4rem;
}
.newTopic:hover {
  font-size: 1.5rem;
  background-color: #040668;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.7);
}

.pagination {
  display: flex;
  margin: auto;
  max-width: 800px;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.pagination a {
  color: white;
  cursor: pointer;
}

.pagination a i {
  color: rgb(52, 52, 230);
}

@media (max-width: 750px) {
  .topics .topDiv {
    grid-area: 1 / 1 / 1 / 1;
  }
}
