#topHeader {
  background: linear-gradient(#2f2ff7, #04047a);
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px 5px #005678;
  border-bottom: 1px solid #ff2a6d;
}
.top {
  padding: 5px 10px 5px 10px;
  text-align: center;
}
.top h1 {
  font-size: 2.5rem;
  color: #05d9e8;
}
.top h2 {
  font-size: 1.5rem;
  color: #05d9e8;
}
.down {
  display: flex;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
}
.downRight {
  display: flex;
  margin-right: 50px;
  justify-content: center;
}
.downRight > * {
  display: block;
  text-align: center;
  color: white;
  height: 100%;
  padding: 10px;
  transition: background-color 0.5s;
}
.downRight > *:hover,
.downRight .dropdown.focused {
  background-color: #ff2a6d;
  cursor: pointer;
}
.downLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.downLeft [type='submit'] {
  margin-left: 5px;
  padding: 3px 9px 3px 9px;
  color: white;
  background-color: #3a7b80;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  transition: background-color 0.5s;
}
.downLeft [type='submit']:hover {
  background-color: #05d9e8;
  cursor: pointer;
}
.downLeft [type='text'] {
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}
.downLeft [type='text']:focus {
  outline: none;
  border: 1px solid #005678;
}

.dropdown {
  position: relative;
  text-shadow: 1px 1px 1px black;
}

.dropdown .content {
  display: none;
}

.dropdown .content.show {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 140px;
  background-color: #005678;
}

.dropdown .content .item {
  padding: 7px 0px 7px 0px;
  color: white;
}
.dropdown .content .item:hover {
  background-color: #d1f7ff;
}

@media (max-width: 450px) {
  .down {
    flex-direction: column;
  }
}
